.tooltip {
  pointer-events: none !important;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.flag {
  display: inline-block;
  height: 50px;

}

.tooltip-data {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  font-family: 'Roboto Slab', serif;
}

.name {
  font-size: 27px;
  margin-bottom: 5px;
}

.time {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
}

.year {
  display: inline-block;

}
