@import "compass/reset";
$indoor-men: red;
$indoor-women: blue;
$outdoor-men: orange;
$outdoor-women: purple;

circle {
  //stroke: none;
  opacity: 0;
}

.indoor-men {
  stroke: $indoor-men;
  fill: none;
  circle {
    fill: $indoor-men;
  }
}

.indoor-women {
  stroke: $indoor-women;
  fill: none;
  circle {
    fill: $indoor-women;
  }
}

.outdoor-men {
  stroke: $outdoor-men;
  fill: none;
  circle {
    fill: $outdoor-men;
  }
}

.outdoor-women {
  stroke: $outdoor-women;
  fill: none;
  circle {
    fill: $outdoor-women;
  }
}

.voronoi {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.tooltip {
  pointer-events: none !important;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
