@import "compass/reset";

circle {
  stroke: none;
}

.indoor-men {
  stroke: red;
  fill: none;
}

.indoor-women {
  stroke: blue;
  fill: none;
}

.outdoor-men {
  stroke: orange;
  fill: none;
}

.outdoor-women {
  stroke: purple;
  fill: none;
}

.voronoi {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}
