@import "compass/reset";

circle {
  stroke: none;
}

.indoor-men {
  stroke: red;
  fill: none;
}

.indoor-women {
  stroke: blue;
  fill: none;
}

.outdoor-men {
  stroke: orange;
  fill: none;
}

.outdoor-women {
  stroke: purple;
  fill: none;
}

.voronoi {
  fill: none;
  stroke: none;
}
