$indoor-men: #A921D1;
$indoor-women: #FE8C29;
$outdoor-men: #2550FE;
$outdoor-women: #CB3123;

circle {
  //stroke: none;
  opacity: 0;
}

.line {
  fill: none;
  stroke-width: 2.7;
}

.indoor-men {
  stroke: $indoor-men;
  circle {
    fill: $indoor-men;
  }
}

.indoor-women {
  stroke: $indoor-women;
  circle {
    fill: $indoor-women;
  }
}

.outdoor-men {
  stroke: $outdoor-men;
  circle {
    fill: $outdoor-men;
  }
}

.outdoor-women {
  stroke: $outdoor-women;
  circle {
    fill: $outdoor-women;
  }
}

.voronoi {
  fill: none;
  stroke: none;
  pointer-events: all;
}

